version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/"
    target-branch: "yubikit"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "03:00"
      timezone: "UTC"
    open-pull-requests-limit: 10
  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: "yubikit"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "03:00"
      timezone: "UTC"
    open-pull-requests-limit: 10
