# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "wednesday"
      time: "09:00"
      timezone: "Europe/Stockholm"
    groups:
      all_packages:
        update-types:
          - "minor"
          - "patch"
        patterns:
          - "*"
    open-pull-requests-limit: 10

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "wednesday"
      time: "09:00"
      timezone: "Europe/Stockholm"
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: docker
    directory: /
    schedule:
      interval: daily

  - package-ecosystem: nuget
    directory: /Yubico.Core/src
    schedule:
      interval: daily

  - package-ecosystem: nuget
    directory: /Yubico.Core/tests
    schedule:
      interval: daily

  - package-ecosystem: nuget
    directory: /Yubico.YubiKey/examples/Fido2SampleCode
    schedule:
      interval: daily

  - package-ecosystem: nuget
    directory: /Yubico.YubiKey/examples/OathSampleCode
    schedule:
      interval: daily

  - package-ecosystem: nuget
    directory: /Yubico.YubiKey/examples/PivSampleCode
    schedule:
      interval: daily

  - package-ecosystem: nuget
    directory: /Yubico.YubiKey/examples/SharedSampleCode
    schedule:
      interval: daily

  - package-ecosystem: nuget
    directory: /Yubico.YubiKey/examples/U2fSampleCode
    schedule:
      interval: daily

  - package-ecosystem: nuget
    directory: /Yubico.YubiKey/src
    schedule:
      interval: daily

  - package-ecosystem: nuget
    directory: /Yubico.YubiKey/tests/integration
    schedule:
      interval: daily

  - package-ecosystem: nuget
    directory: /Yubico.YubiKey/tests/sandbox
    schedule:
      interval: daily

  - package-ecosystem: nuget
    directory: /Yubico.YubiKey/tests/unit
    schedule:
      interval: daily

  - package-ecosystem: nuget
    directory: /Yubico.YubiKey/tests/utilities
    schedule:
      interval: daily
