# Copyright 2025 Yubico AB
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Build pull request

on:
  pull_request:
    branches:
      - main
      - 'develop**'
      - 'release**'
    paths:
      - '**.h'
      - '**.c'
      - '**.cs'
      - '**.csproj'
      - '**.sln'
      - '.github/workflows/build-pull-requests.yml'
      
permissions:
  contents: read

jobs:
  run-tests:
    name: Run tests
    # Requires write permissions to publish test results and coverage reports to PR
    permissions:
      pull-requests: write  # Required to comment on PRs with test results
      checks: write         # Required to create check runs for test results
      contents: read
      packages: read
    uses: ./.github/workflows/test.yml
    with:
      build-coverage-report: true
    
  build-artifacts:
    name: Build artifacts
    runs-on: windows-latest
    needs: run-tests
    
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: false
      - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309  # v5.1.0
        with:
          global-json-file: global.json
          source-url: https://nuget.pkg.github.com/Yubico/index.json
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Yubico.NET.SDK.sln
        run: dotnet build --configuration Release --nologo --verbosity minimal Yubico.NET.SDK.sln
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Save build artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: Nuget Packages Release
          path: |
            Yubico.Core/src/bin/Release/*.nupkg
            Yubico.YubiKey/src/bin/Release/*.nupkg

      - name: Save build artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: Assemblies Release
          path: |
            Yubico.Core/src/bin/Release/**/*.dll
            Yubico.YubiKey/src/bin/Release/**/*.dll
